.vscode/
venv/
airflow/logs/
airflow/*.pid
__pycache__/
*.py[cod]
*.log
*.parquet
*.csv

# Airflow
airflow/airflow.db
airflow/*.bak
airflow/airflow.cfg

# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs
logs/

# Data pesada
data/
